* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: inherit;
    border: none;
}

li {
    list-style: none;
}

h2 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    background: var(--body-bg-kirr);
}

#app {
    width: 375px;
    background: var(--primary-bg);
    color: var(--secondary-text-color);
    overflow-x: hidden;
}

.logo,
.nav-list__row {
    font-family: var(--ff-inter);
    text-transform: uppercase;
}

.send-form__tittle,
.logo{
    font-size: var(--fs-s);
}

.read-more__tittle,
.send-form__tittle{
    padding-right: var(--padding-xs);
}

.agree__button,
.play__img{
    width: 20px;
    height: 20px;
}


.agree__info,
.prewiev,
.more:hover {
    color: var(--primary-text-color);
}

.group-1__tittle,
.group-2__tittle,
.group-1__discription,
.group-2__discription {
    padding-left: var(--padding-xs);
}

.group-1__tittle,
.group-2__tittle{
    padding-top: calc(var(--padding-xxxl) + 14px);
}

.group-2,
.group-1 {
    width: 296px;
    height: 211px;
}

.trainers,
.footer,
.get-touch__row {
    padding-top: var(--padding-s);
}

.prewiev__container {
    padding: 41px 40px 4px 39px;
}

.line{
    background: var(--primary-text-color);
    width: 18px;
    height: 2px;
    border-radius: 1px;
    margin: var(--margin-xxs);
}

.prewiev {
    background: url(../images/backgrounds/background-1.png);
    background-position: 60%;
    background-size: 1026px;
    height: 476px;
}

.prewiev__tittle {
    font-family: var(--ff-kaisei);
    font-size: calc(var(--fs-l) - 2px);
}

.prewiev__player {
    background: url(../images/backgrounds/background-2.png);
    background-size: 416px;
    background-position: left;
    height: 165px;
}

.play__img{
    position: relative;
    top: 3px;
    left: 0.5px;
}

.banner__img {
    width: 296px;
    height: 130px;
}

.max-w-paragraph {
    display: none;
}

.more {
    color: var(--third-text-color);
}

.directions-container {
    padding-bottom: var(--padding-l);
}

.row {
    width: 30px;
}

.directions-player__bg-1 {
    background: url(../images/directions/classical-ballet.png);
}
.directions-player__bg-2 {
    background: url(../images/directions/ballet-duet.png);
}
.directions-player__bg-3 {
    background: url(../images/directions/performance.png);
}

.trainers__galery{
    padding-top: var(--padding-m);
}
.trainer-name{
    padding-bottom: var(--padding-xxl);
}
.trainers__img-1 {
    background: url(../images/instructors/lilia.png);
}
.trainers__img-2 {
    background: url(../images/instructors/elizaveta.png);
}
.trainers__img-3 {
    background: url(../images/instructors/margo.png);
}

.groups__tittle {
    padding-bottom: var(--padding-m);
}

.group-1 {
    background-image: url(../images/groups/upper-ballet.png);
    margin-bottom: calc(var(--margin-l) - 2px);
}

.group-2 {
    background-image: url(../images/groups/junior-ballet.png);
    margin-bottom: var(--margin-xxl);
}

.get-touch__row {
    padding-bottom: calc(var(--padding-xs) / 2);
    border-bottom: 1px solid var(--primary-text-color);
}

.get-touch__agree {
    padding-top: calc(var(--padding-m) + 2px);
}

.agree__info {
    padding-left: calc(var(--padding-xs) + 1px);
}
.agree__button{
    border: 1px solid var(--primary-text-color);
}

.send-form{
    padding-top: var(--padding-xxl);
    padding-bottom: calc(var(--padding-xxl) + 20px);
    border-bottom: 1px solid var(--secondary-text-color)
}

.trainers__img-1,
.trainers__img-2,
.trainers__img-3,
.directions-player__bg-1,
.directions-player__bg-2,
.directions-player__bg-3,
.group-1,
.group-2 {
    background-size: cover;
}

.trainers__img-1,
.trainers__img-2,
.trainers__img-3
{
    width: 296px;
    height: 322px;
}

.directions-player__bg-1,
.directions-player__bg-2,
.directions-player__bg-3{
    width: 296px;
    height: 92px;
}

